@font-face {
    font-family: inter;
    src: url(../../public/font/Inter.ttc);
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: white;
}
.container{
    width: 1570px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

header{
   width: 100%;
   height: auto;
   .up_menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 20px;
        .logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            
            width: 372px;
            .item_svg{
                margin: 0;
                padding: 0;
            }
            .item_title{
                margin: 0;
                padding: 0;
                margin-left: 15px;
            }

        }
        .menu{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 780px;
            a{
                margin: 0;
                padding: 0;
                text-decoration: none;
                font-family: inter;
                color: #294060;
                font-weight: 500;
                font-size: 18px;
            }

        }
        .links_messangers{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 200px;
        }
    
   } 
}

.view_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 74px;
    .img_jpg{
        margin: 0;
        padding: 0;


    }
    .swiper{
        margin: 0;
        padding: 0;
        width: 974px;
        border-radius: 10px;
        
        h1{
            position: absolute;
            color: white;
            font-family: inter;
            font-size: 48px;
            top: 45px;
            left: 45px;
            margin: 0;
            padding: 0;
        }
    
        .swiper-button-prev::after, .swiper-button-next::after{
            
            color: white;
            font-size: 25px;
            
        }
        
        

    }
}

.contant_block_1{
    display: block;
    margin: 0;
    padding: 54px 54px 33px 54px;
    border: 2px solid #2A7465;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    margin-top: 74px;
    .sub_1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        .text{
            display: block;
            margin: 0;
            padding: 0;
            width: 914px;
            height: auto;
            color: #294060;
            p{
            margin: 0;
            padding: 0;
            font-family: inter;
            font-size: 24px;
            line-height: 28.8px;
            font-weight: 400;
            text-align: left;
            }
        }

    }
    .sub_2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        .item{
            display: block;
            width: 446px;
            height: 303px;
            box-shadow: 0px 8px 20px 0px #00000014;
            border: 1px solid #2A7465;
            border-radius: 30px;
            margin: 0;
            padding: 0;
            margin-top: 50px;
            color:#294060;
            .title{
                font-family: inter;
                font-size: 24px;
                line-height: 28.8px;
                font-weight: 600;
                margin: 30px 0 0 20px;
            }
            .text{
                font-family: inter;
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                width: 406px;
                height: 110px;
                margin: 30px 0 0 20px;

            }
            .img{
                margin: 0 20px 20px 0;
                padding: 0;
                width: 60px;
                height: 60px;
                float: right;
            }

        }
    }
    .sub_3{
        display: block;
        .title{
            font-family: inter;
            font-size: 32px;
            font-weight: 500;
            color: #294060;
            margin: 85px 0 50px 0;
        }
    }
    
    
    
    

}
.contant_block_3{
    .title{
        font-family: inter;
        font-size: 56px;
        font-weight: 500;
        color:#294060;
        margin: 74px 0 30px 0;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: auto;
        .str{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 780px;
            color: #294060;
            p{
                font-family: inter;
                font-size: 24px;
                font-weight: 500;
                line-height: 28,8px;
                margin-left: 15px;
                
            }
            
            img{
                width: 60px;
                height: 60px;
            }  
        }
    }
}


