/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \***************************************************************************************************************/
body {
  background-color: red;
}

h1 h2 h3 h4 {
  text-align: center;
  margin: 0 auto;
}
